// EWW colors

// Variables
$foreground: #A9B1D6;
$background: #1F2335;
$primary: #FF8400;
$secondary: #9358E3;

// Classes
.layout-box {
    color: $foreground;
    background-color: $background;
}

.workspace-entry {
    font: 24px "Material Design Icons";
    margin: 0px 2px;
}

.current {
    color: $primary;
}

.occupied {
    color: $secondary;
}

.empty {
    font: 32px "Material Design Icons";
}

.info { 
    .icon {
        font: 18px "Material Design Icons";
        margin: 2px 0px 0px 4px;
        color: $primary;
    }
    .text {
        margin: 0px 4px 0px 0px;
    }
    .title {
        margin: 0px;
    }
}
